@media only screen and (max-width: 767px) {
	.main-banner-content {
		text-align: center;
		padding-top: 50px;
	}
	.main-banner-content h1 {
		font-size: 40px;
		margin: 0 0 18px 0;
	}
	.main-banner-content .banner-btn {
		margin-top: 30px;
		justify-content: center;
	}
	.solutions-list-tab .tabs li {
		-ms-flex: unset;
		-webkit-box-flex: unset;
		flex: unset;
		max-width: unset;
		padding-top: 15px;
		margin-right: 15px;
	}
	.solutions-list-tab .tabs li a {
		padding-left: 40px;
		padding-right: 40px;
	}
	.navbar-section {
        box-shadow: rgba(0, 0, 0, 0.11) 0px 5px 40px 0px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
	.main-banner-content .banner-btn {
		margin-top: 25px;
		display: block;
		text-align: center;;
	}
	.home-section.home-2 .main-banner-content h1 {
		font-size: 35px;
	}
	.solutions-list-tab .tabs li {
		width: 100%;
		margin-right: 0;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.other-option {
		display: none;
	}
	.home-section.home-2 .main-banner-content h1 {
		font-size: 50px;
	}
	.main-banner-content {
		margin: auto;
		text-align: center;
		padding-top: 30px;
	}
	.main-banner-content h1 {
		font-size: 50px;
		margin: 0 0 15px 0;
	}
	.main-banner-content .banner-btn {
		margin-top: 30px;
		justify-content: center;
	}
	.solutions-list-tab .tabs {
		justify-content: left;
	}
	.solutions-list-tab .tabs li {
		margin-right: 15px;
		margin-left: 0;
	}
	.solutions-list-tab .tabs li a {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 18px;
		padding-bottom: 18px;
	}
	.solutions-list-tab .tab_content .tabs_item .tab-solution-content h3 {
		font-size: 30px;
		margin: 0 0 15px 0;
	}
}